@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  font-family: "Space Grotesk";
  background: #1f4037;
  background: linear-gradient(to right, #99f2c8, #1f4037);
}

.header {
  color: #fff;
  text-align: center;
}

.header__title {
  padding: 15px 0;
}

/* Flex - Menu de navegacion */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.nav__logo img {
  aspect-ratio: 1 / 1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav__item {
  padding: 5px;
  transition: 400ms ease;
}

.nav__item:hover {
  background-color: #000;
  border-radius: 0.2rem;
}

.nav__link {
  color: inherit;
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 1.4rem);
}

/* Section Services Styles */
section.services {
  margin-block: 50px;
  padding: 20px;
  border-radius: 1rem;
  border: 1px solid #fff;
  box-shadow: 0 0 10px #000 inset, 0 0 15px #000 inset;
}

.services__title {
  color: #fff;
  font-size: clamp(1.8rem, 6vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
}

/* Uso de Grid */
.container__services {
  display: grid;
  /* Columnas Responsive */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Filas generadas tamaño automatico */
  grid-auto-rows: auto;
  gap: 1.5rem;
}

.services__box {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #000;
}

.services__box img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.services__box--info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.services__box--title {
  font-size: 20px;
  letter-spacing: 1px;
}

.services__box--button {
  background-image: linear-gradient(to right, #99f2c8, #1f4037);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 15px;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #000;
  transition: 500ms ease;
  position: relative;
}

.services__box--button::before {
  content: "Añadir al carrito";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 500ms ease;
  opacity: 0;
  display: grid;
  place-content: center;
  overflow: hidden;
  pointer-events: none;
}

.services__box--button:hover::before {
  width: 100%;
  opacity: 1;
  pointer-events: unset;
}

/* Footer Section Styles */
.footer {
  padding: 40px;
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); 
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );
  border-radius: 1rem 1rem 0 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  gap: 2rem;
}

.footer__box {
  color: #fff;
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
}

.footer__box h3 {
  text-align: center;
  font-size: clamp(1.3rem, 4vw, 2rem);
}


.footer__links--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer__links--list > a {
  color: inherit;
  font-size: 20px;
}

.footer__newsletter--group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__newsletter--group input {
  width: 300px;
  padding: 20px;
  border-radius: .3rem;
  border: none;
}

.footer__newsletter--group button {
  color: #fff;
  background-color: transparent;
  display: inline-block;
  padding: 20px 0;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 600ms ease;
}

.footer__newsletter--group button:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #000 inset;
}

.footer__contact--address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.footer__contact--address > span {
  text-align: center;
  font-size: 18px;
}

.footer__contact--social {
  display: flex;
  justify-content: space-between;
}

.footer__contact--social i {
  font-size: 30px;
  cursor: pointer;
}

/* Responsive Design */
/* Media Queries - Tablets y Smartphone */
@media (width <= 876px) {
  .nav {
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav__links {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media (width <= 476px) {
  .footer__box {
    width: 100%;
  }
  
  .footer__newsletter--group input {
    width: 100%;
  }
}

@media (width <= 375px) {
  .container__services {
    grid-template-columns: 1fr;
  }
}